input[type=radio] {
    display: none;
  }
.hero-banner{
    max-width: 100%;
    background: #f0faffe8;
}
.container-fluid{
    border-radius: 5px;
    max-width: 1200px;
}
.col-img{
    background-image: url(/src//assets/gradirnt\ wobble.png);
    background-repeat: no-repeat;
    background-size:auto;
    background-position-y: -5em ;
}
.navbar{
 background-color: #f0faffe8;
}
img{
float: right;
}
.card{
    margin: 1em 1em;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    border-color: white;
}
.card-img-top{
  height: 200px; /* this will maintain the aspect ratio */
  object-fit: cover;
}
.about-img{
    border-radius: 42% 63%;
}

.about-cont{
    padding-top: 5em;
    padding-bottom: 5em;
}
hr {
    height: 2px;
    background: linear-gradient(to right, #007bff, #001aff);
    border: none;
    margin: 10px 0;
  }

  .overviews{
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 3px;
  }
  .carousel-control-next-icon ,  .carousel-control-prev-icon{
    background-color:rgb(0, 0, 0); 
    border-radius: 50px;
    background-size: 100% 55% !important;
  }
  .carousel-control-prev, .carousel-control-next{
    position: relative !important;
    width: 11% !important;
  }
  .inner-section{
    padding: 2em 2em 4em 2em;
    background-color: #b2deff65;
    border-radius: 5px;
    box-shadow: 2px 2px 6px -2px rgb(0 0 0 / 46%);
  }
  .nav-container{
    display: flex;
    justify-content: center;
    margin-top: -65px;
    gap: 1em;
  }

  @media (max-width: 700px) {
    .nav-container{
        display: flex;
        justify-content: center;
        gap: 1em;
        padding-bottom: 2em;
        padding-top: 1em;
      }
  }